<ion-view title="Welcome" hide-nav-bar="true" id="page1">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div class="spacer" style="width: 300px; height: 38px;"></div>
        <h1 id="welcome-heading2" style="color:#000000;font-weight:400;text-align:center;">Healthy Transport Planner</h1>
        <form id="welcome-form2" class="list">
            <label class="item item-input" id="welcome-input3">
                <span class="input-label">Email</span>
                <input ng-model="vm.user.email" type="text" placeholder="">
            </label>
            <label class="item item-input" id="welcome-input4">
                <span class="input-label">Password</span>
                <input ng-model="vm.user.password" type="password" placeholder="">
            </label>
        </form>
        <a ng-click="vm.login()" id="welcome-button3" class="button button-positive  button-block">Log In</a>
        <a ui-sref="healthyTripPlanner.register" id="welcome-button4" class="button button-positive  button-block">Sign Up</a>
        <h4 style="text-align: center; color: red">{{vm.error}}</h4>
    </ion-content>
</ion-view>
