<ion-view title="Trip Details">
    <ion-content padding="true" class="has-header has-footer">
        <ion-list id="tripDetails-list8">
            <ion-item class="balanced" id="tripDetails-list-item19">From: {{tdvm.route.origin}}</ion-item>
            <ion-item class="item-divider" id="tripDetails-list-item-divider4">Leave at {{tdvm.route.departureTime}}</ion-item>
            <!-- Each part of the route -->
            <ion-item class="item-icon-left" ng-click="showDetails = ! showDetails" id="tripDetails-list-item25" ng-repeat="transitName in tdvm.route.transitModes track by $index">
                <i class="icon ion-android-{{transitName}}"></i>
                {{tdvm.route.stepName[$index]}}
                <span class="item-note" ng-if="transitName != 'walk'">Departs at: {{tdvm.route.transitDepartureTimes[$index]}}</span>
                <!-- Display more information about each step of the trip upon click-->
                <ion-list ng-show="showDetails" ng-repeat="directions in tdvm.route.tripDirections[$index]">
                    <!-- Walking directions -->
                    <ion-item class="item-text-wrap" ng-if="transitName == 'walk' && directions != null " >
                        {{directions}}
                    </ion-item>
                </ion-list>

              <div></div>
              <span class="item-note" ng-show="showDetails" ng-if="transitName != 'walk'">{{tdvm.route.transitNumStops[$index]}} stops</span>

            </ion-item>
            <ion-item class="item-divider" id="tripDetails-list-item-divider5">Arrive by {{tdvm.route.arrivalTime}}</ion-item>
            <ion-item class="positive" id="tripDetails-list-item20">To: {{tdvm.route.dest}}</ion-item>
        </ion-list>

        <!-- Warnings -->
        <div ng-repeat="warning in tdvm.route.routeWarnings">
          <span class="item-note text-center padding">{{warning}}</span>
        </div>

        <a id="tripDetails-button9" ng-click="tdvm.saveDistance()" class="button button-positive  button-block">I finished this trip!</a>
        <h4 style="text-align: center; color: red">{{details.error}}</h4>

    </ion-content>

    <div class="bar bar-footer">
      <div class="title">{{tdvm.route.copyright}}</div>
    </div>
</ion-view>
