<script src="config.js"></script>
<ion-view title="Trip Choices">
    <ion-content padding="true" class="has-header has-footer">
        <ion-list id="tripChoices-origin-dest">
            <ion-item class="balanced" id="tripChoices-list-item12">From: {{tcvm.origin}}</ion-item>
            <ion-item class="positive" id="tripChoices-list-item13">To: {{tcvm.dest}}</ion-item>
        </ion-list>
        <div class="card" id="tripChoices-list">
          <ion-item class="item-divider" id="tripChoices-list-item-divider1">Trips</ion-item>
            <!-- Displays the list of route choices. -->
            <ion-item class="item item-button-right" id="tripChoices-list-item28" ng-repeat="route in allRoutes"  ng-click="tcvm.transition(route)">
              <div class="buttons">
                <div ng-repeat="name in route.transitModes track by $index">
                  <button class="button button-icon ion-android-{{name}}"></button>
                </div>
              </div>
              <div class="col">Arrives at: {{route.arrivalTime}}</div>
              <span class="item-note col col-50">Walking Distance: {{route.walkingDistance}}m</span>
            </ion-item>
        </div>
    </ion-content>

    <div class="bar bar-footer">
      <div class="title">{{allRoutes[0].copyright}}</div>
    </div>
</ion-view>
