<ion-view title="Add Trip">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 47px;"></div>
        <h4 style="color:#000000;text-align:center;">Where are you headed?</h4>
        <form name="addTripForm" class="list">
            <label class="item item-input">
                <span class="input-label">From:</span>
              <input name="origin" type="text" ng-autocomplete ng-model="atvm.trip.origin" options="{watchEnter:true}" details="details" required="required"/>
            </label>
            <label class="item item-input">
                <span class="input-label">To:</span>
                <input name="dest" type="text" ng-autocomplete ng-model="atvm.trip.dest" options="{watchEnter:true}" details="details" required="required"/>
            </label>
            <ion-toggle ng-model="atvm.trip.save">Save trip</ion-toggle>
        </form>

        <a ng-click="atvm.submit(addTripForm)" class="button button-positive button-block">Go!</a>

        <h4 ng-show=!addTripForm.origin.$valid style="text-align: center; color: red">{{atvm.error.origin}}</h4>
        <h4 ng-show=!addTripForm.dest.$valid style="text-align: center; color: red">{{atvm.error.dest}}</h4>
        <h4 style="text-align: center; color: red">{{atvm.error.server}}</h4>
    </ion-content>
</ion-view>
