<ion-view title="Trips" hide-back-button="true">
    <ion-content padding="true" class="has-header">
        <ion-list can-swipe="true">
          <ion-item ng-repeat="trip in stvm.trips"
                    ng-click="stvm.transitionToTripChoices(trip)">
            <p><b>{{trip.origin}}</b><p>
            <p style="text-indent: 1em;">{{trip.dest}}</p>

            <ion-option-button class="button-assertive" ng-click="stvm.deleteTrip(trip)">
              Delete
            </ion-option-button>
          </ion-item>
          <ion-item class="item-icon-left" ui-sref="healthyTripPlanner.addTrip">
            <i class="icon ion-plus"></i>New trip
          </ion-item>
        </ion-list>
      <h4 style="text-align: center; color: red">{{stvm.error}}</h4>
    </ion-content>
</ion-view>
