<style>
.walk {
  background-color: #98BBCC;
}

.bus {
  background-color: #DCDCDC;
}

.train {
  background-color: #F4484F;
}
</style>

<ion-view title="Profile" id="page12">
    <ion-content padding="true" class=" manual-remove-top-padding has-header">
        <div class="list card" id="profile-card22">
            <ion-item id="profile-list-item40">
                <h2>{{ profile.Users.getUserName() }}</h2>
                <p>Joined {{ profile.Users.getJoinDate() | date : 'dd/MM/yyyy' }}</p>
            </ion-item>
            <ion-item class="item-divider" id="profile-list-item-divider6">Weekly Stats</ion-item>
            <ion-item class="item-icon-left walk" id="profile-list-item45">
                <i class="icon ion-android-walk"></i>Walking Distance: {{profile.weekly[0] / 1000.0 }}km</ion-item>
            <ion-item class="item-icon-left bus" id="profile-list-item43">
                <i class="icon ion-android-bus"></i>Bus Distance: {{profile.weekly[1] / 1000.0 }}km</ion-item>
            <ion-item class="item-icon-left train" id="profile-list-item44">
                <i class="icon ion-android-train"></i>Train Distance: {{profile.weekly[2] / 1000.0 }}km</ion-item>
            <ion-item>
              <canvas id="pie" class="chart chart-pie" chart-data="profile.weekly.slice(0, 3)" chart-labels="profile.labels">
              </canvas>
            </ion-item>
            <ion-item class="item-divider" id="profile-list-item-divider7">Overall Stats</ion-item>
            <ion-item class="item-icon-left walk" id="profile-list-item42">
                <i class="icon ion-android-walk"></i>Walking Distance: {{profile.total[0] / 1000.0 }}km</ion-item>
            <ion-item class="item-icon-left bus" id="profile-list-item46">
                <i class="icon ion-android-bus"></i>Bus Distance: {{profile.total[1] / 1000.0 }}km</ion-item>
            <ion-item class="item-icon-left train" id="profile-list-item47">
                <i class="icon ion-android-train"></i>Train Distance: {{profile.total[2] / 1000.0}}km</ion-item>
            <ion-item>
              <canvas id="pie" class="chart chart-pie" chart-data="profile.total.slice(0, 3)" chart-labels="profile.labels">
              </canvas>
            </ion-item>
        </div>
    </ion-content>
</ion-view>
