<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="side-menu21">
        <ion-header-bar class="bar-stable">
            <div class="title">Healthy Trip Planner</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header ">
            <ion-list ng-if="vm.isLoggedIn()" id="healthyTripPlanner-list2">
                <ion-item id="healthyTripPlanner-list-item10" ui-sref="healthyTripPlanner.profile" menu-close="">
                    <h2>{{ vm.Users.getUserName() }}</h2>
                    <p>View profile</p>
                </ion-item>
                <ion-item class="item-icon-right" id="healthyTripPlanner-list-item1" ui-sref="healthyTripPlanner.savedTrips" menu-close="">Trips
                    <i class="icon ion-android-bus"></i>
                </ion-item>
                <ion-item class="item-icon-right" id="healthyTripPlanner-list-item31" ui-sref="healthyTripPlanner.badges" menu-close="">Badges
                    <i class="icon ion-star"></i>
                </ion-item>
                <ion-item class="item-icon-right" id="healthyTripPlanner-list-item34" ng-click="vm.logout()" menu-close="">Sign Out
                    <i class="icon ion-power"></i>
                </ion-item>
            </ion-list>

            <ion-list ng-if="!vm.isLoggedIn()" id="healthyTripPlanner-list2">
                <ion-item class="item-icon-right" id="healthyTripPlanner-list-item34" ui-sref="login" menu-close="">Sign In
                    <i class="icon ion-power"></i>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
