<style>
  .earned {
    background-color: #D1FFD3;
  }

  .missing {
    background-color: #E6E6E6;
  }

  .bronze {
    color: #A8761F;
  }

  .silver {
    color: #A8A8A8;
  }

  .gold {
    color: #EEBE46;
  }
</style>

<ion-view title="Badges" id="page10">
    <ion-content padding="true" class="has-header">
        <!-- Displays some basic user information. -->
        <div class="list card" id="badges-card21">
            <ion-item class="item-icon-left">
                  <i style="font-size:64px;" class="icon ion-android-contact"></i>
                <div class="col-offset-10">
                  <h2>{{ bdvm.Users.getUserName() }}</h2>
                  <p>Joined {{ bdvm.Users.getJoinDate() | date : 'dd/MM/yyyy' }}</p>
                </div>
            </ion-item>
            <ion-item>
                Badges Unlocked: {{ bdvm.userBadges.length }}/{{ bdvm.allBadges.length }}
            </ion-item>
        </div>

        <ion-list>
            <!-- Displays all the badges that the user has earned. -->
            <ion-item ng-repeat="badge in bdvm.userBadges" class="item-icon-left earned">
                <i style="font-size:48px;" class="padding-left icon ion-ribbon-a {{ bdvm.getColourClass(badge.id) }}"></i>
                <div class="col-offset-10">
                    <h2>{{ badge.name }}</h2>
                    <p style="white-space:normal;">{{ badge.description }}</p>
                    <p> Unlocked {{ bdvm.getEarnedDate(badge.id) | date : 'dd/MM/yyyy' }}</p>
                </div>
            </ion-item>
            <!-- Displays all the badges that the user has not earned yet. -->
            <ion-item ng-repeat="badge in bdvm.missingBadges" class="item-icon-left missing">
                <i style="font-size:48px;" class="padding-left icon ion-ribbon-a {{ bdvm.getColourClass(badge.id) }}"></i>
                <div class="col-offset-10">
                    <h2>{{ badge.name }}</h2>
                    <p style="white-space:normal;">{{ badge.description }}</p>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
