<ion-view title="Sign Up" id="page4">
    <ion-content padding="true" class="has-header">
        <form id="signUp-form3" class="list">
            <ion-list id="signUp-list1">
                <label class="item item-input" id="signUp-input5">
                    <span class="input-label">Name</span>
                    <input ng-model="vm.newUser.name" type="text" placeholder="">
                </label>
                <label class="item item-input" id="signUp-input6">
                    <span class="input-label">Email</span>
                    <input ng-model="vm.newUser.email" type="text" placeholder="">
                </label>
                <label class="item item-input" id="signUp-input7">
                    <span class="input-label">Password</span>
                    <input ng-model="vm.newUser.password" type="password" placeholder="">
                </label>
            </ion-list>
            <button ng-click="vm.register()" id="signUp-button6" class="button button-positive  button-block">Sign Up</button>
        </form>
        <h4 style="text-align: center; color: red">{{vm.error}}</h4>
    </ion-content>
</ion-view>
